@media screen and (min-width: 975px){
	.menu-container-osmc-links-mobile, .menu-container-osmc-colored-links {
      display: none;
    }
    .d-header {
    	height: auto !important;
    	position: static !important;
	}
	.d-header .contents {
		display: block;
		margin: inherit;
	}
	.extra-info-wrapper {
	    overflow: visible;
	}
}